import React from "react";
import { useLocalSearchParams } from "expo-router";
import { {{PASCAL_SCREEN}}Workspace } from "{{DETAIL_SCREEN_IMPORT}}";

export default function {{PASCAL_SCREEN}}Route() {
  const params = useLocalSearchParams<{ {{PARAM}}?: string }>();
  void params;
  return <{{PASCAL_SCREEN}}Workspace />;
}
