import React from "react";
import { use{{PASCAL_FEATURE}}ViewModel } from "./{{FEATURE}}.viewmodel";
import { {{PASCAL_FEATURE}}View } from "./{{FEATURE}}.view";

export function {{PASCAL_FEATURE}}Workspace() {
  const { state, actions } = use{{PASCAL_FEATURE}}ViewModel();
  return <{{PASCAL_FEATURE}}View state={state} actions={actions} />;
}
