export interface {{PASCAL_FEATURE}}ItemModel {
  id: string;
  title: string;
}

export interface {{PASCAL_FEATURE}}ViewState {
  loading: boolean;
  title: string;
  items: {{PASCAL_FEATURE}}ItemModel[];
}

export interface {{PASCAL_FEATURE}}ViewActions {
  onSelect: (id: string) => void;
}
